DATABASE_URL="postgresql://postgres:postgres@localhost:5432/forge"
# Needed on ARM64 machines (Apple Silicon, etc.) where native SWC binaries don't run
NEXT_TEST_WASM_DIR="./node_modules/@next/swc-wasm-nodejs"
